<div class="sticky top-0 left-0 right-0 border-b-2 border-gray-300 z-10 bg-gray-100 pt-1 px-4 md:px-0 select-none">

  <div class="w-full overflow-x-auto overflow-y-overlay z-20 mb-[-2px]">
    <div
      class="flex overflow-y-overlay md:grid md:grid-cols-6 items-center w-full z-20 md:gap-x-1 space-x-2 md:space-x-0">

      <div class="hidden md:block px-6 py-3 duration-300 transition-colors border-b-2 border-transparent font-medium">

      </div>

      <button *ngFor="let weekDay of weekDays"
              class="px-4 py-3 duration-300 transition-colors border-b-2 border-transparent font-medium text-center text-sm md:text-base capitalize md:cursor-default "
              (click)="isMobile ? selectedWeekDay = weekDay : null"
              [ngClass]="{'!border-blue-500 text-blue-500': selectedWeekDay === weekDay}">
        {{weekDay}}
      </button>

    </div>
  </div>

</div>

<div class="px-6 py-2 md:px-0 select-none grid grid-cols-5 md:grid-cols-6">

  <app-timetable-column string class="flex-shrink-0 md:w-auto"
                        [items]="hours">
  </app-timetable-column>

  <div class="overflow-x-hidden col-span-4 md:col-span-5">

    <div class="grid grid-cols-5 w-[500%] md:w-full md:!translate-x-0"
         #swipeTransformElement id="swipeTransformElement">

      <app-timetable-column *ngFor="let weekDay of weekDays" class=""
                            [items]="getItems(weekDay)"
                            (openItemModal)="openClassDetailsModal($event)">
      </app-timetable-column>

    </div>

  </div>


</div>

<ng-template #classDetailsTemplate
             let-modal>

  <app-lesson-details [modal]="modal"
                      [selectedClass]="selectedClass">
  </app-lesson-details>

</ng-template>
