:host {
  --selected-weekday-index: 0;
  --touch-transform: 0px;
  --touch-transformed: 1;

  ::-webkit-scrollbar {
    @apply hidden;
  }

  #swipeTransformElement {
    transform: translateX(calc(var(--selected-weekday-index, 0) / 5 * -100% + var(--touch-transform, 0px)));
    transition: transform .1s;
  }

  &.touch-smooth-transition {

    #swipeTransformElement {
      transition: transform calc(var(--touch-transformed, 1) * .3s) ease-out;
    }
  }
}

