<div class="border-b-2 border-gray-200 text-center mb-6 relative">

  <h2
    class="mb-[-2px] inline-block font-semibold md:font-medium text-lg sm:text-xl pb-2 border-b-2 text-blue-500 px-2 md:px-4 border-blue-500">
    {{title}}
  </h2>

  <div
    (click)="modal.close()"
    title="Zamknij"
    class="hidden md:flex absolute right-4 top-0 bottom-2 items-center cursor-pointer duration-300 transition-color hover:text-blue-500">
    <app-icon icon="close"></app-icon>
  </div>

</div>

<div class="px-2 md:px-4">

  <ng-content></ng-content>

</div>

<div class="border-t-2 border-gray-200 px-2 md:px-4 mt-6 pt-4 text-right space-y-2 md:space-x-2 md:space-y-0">

  <ng-content select="[modal-buttons]"></ng-content>

</div>
