<div class="sticky top-0 left-0 right-0 border-b-2 border-gray-300 z-10 bg-gray-50 pt-1 px-4 md:px-0 select-none">

  <div class="w-full overflow-x-auto scrollbar-hidden overflow-y-overlay z-20 mb-[-2px]">
    <div
         class="flex overflow-y-overlay md:grid md:grid-cols-6 items-center w-full z-20 md:gap-x-1 space-x-2 md:space-x-0 scroll-smooth">

      <div class="hidden md:block border-b-2 border-transparent">
      </div>

      <button *ngFor="let weekDay of weekDays; let weekDayIndex = index"
              class="px-4 py-3 duration-300 transition-colors border-b-2 border-transparent font-medium text-center text-sm md:text-base capitalize md:cursor-default "
              (click)="selectWeekDayIndex(weekDayIndex)"
              [ngClass]="{'!border-blue-500 text-blue-500': selectedWeekDayIndex === weekDayIndex}">
        {{weekDay}}
      </button>

    </div>
  </div>

</div>
