<main class="px-8 pt-10 pb-6">
  <header class="max-w-sm mx-auto mb-8">
    <h1 class="px-4 border-b border-gray-200 dark:border-gray-700 text-2xl flex items-center justify-center">
      <a href="/"
         (click)="changeWeek($event)"
         [ngClass]="{'text-blue-500 dark:text-blue-500': isEvenWeek, 'text-purple-500 dark:text-purple-400': !isEvenWeek}"
         title="Zmień tydzień"
         class="select-none">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             class="fill-current w-6 h-6">
          <path fill="none"
                d="M0 0h24v24H0z" />
          <path
                d="M21 19h2v2H1v-2h2V4a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v15h4v-8h-2V9h3a1 1 0 0 1 1 1v9zM5 5v14h8V5H5zm2 6h4v2H7v-2zm0-4h4v2H7V7z" />
        </svg>
      </a>
      <span class="ml-4 font-semibold">
        Politechnika Poznańska
      </span>
    </h1>
    <p class="text-center mt-1 text-sm">Plan zajęć - tydzień {{isEvenWeek ? 'parzysty' : 'nieparzysty'}}</p>
  </header>
  <app-timetable [isWeekEven]="isEvenWeek"
                 [selectedGroup]="selectedGroup"
                 [obligatory]="obligatory"></app-timetable>
</main>
<app-modal></app-modal>

<ng-template #selectGroupTemplate let-modal>
  <h1>Wybierz swoją grupę:</h1>
  <select name="" [(ngModel)]="selectedGroup">
    <option value="i3.1">i3.1</option>
    <option value="i3.2">i3.2</option>
  </select>
  <h1>Wybierz swoje przedmioty obieralne:</h1>
  <select name="" multiple [(ngModel)]="obligatory">
    <option value="Algorytmy i struktury danych">Algorytmy i struktury danych</option>
    <option value="Prawo dla informatyków">Prawo dla informatyków</option>
    <option value="Metody probabilistyczne">Metody probabilistyczne</option>
  </select>
  <button (click)="modal.close()">Zamknij</button>
  <button (click)="savePreferences()">Zapisz moje preferencje</button>
</ng-template>
