<div class="overflow-y-auto">
  <table class="max-w-4xl mx-auto"
         *ngIf="items">

    <thead>
      <th>&nbsp;</th>
      <th>Poniedziałek</th>
      <th>Wtorek</th>
      <th>Środa</th>
      <th>Czwartek</th>
      <th>Piątek</th>
    </thead>

    <tbody>
      <tr *ngFor="let hour of hours; let i = index">

        <th class="truncate">{{hour}}</th>

        <td *ngFor="let item of getItems(i+1)">

          <div class="p-4 m-1 my-1.5"
               [ngClass]="{'cursor-pointer': item.name}"
               [class]="item.class"
               [title]="item.name + '\n' + item.lecturer + '\n' + item.place"
               (click)="item.name ? openClassDetailsModal(item) : null">

            <p class="text-sm font-medium mb-2 h-5">
              {{ item.short_name ? item.short_name : item.name }}
            </p>

            <p class="text-xs h-4">
              {{ item.info }}
            </p>

          </div>

        </td>

      </tr>
    </tbody>

  </table>
</div>


<ng-template #classDetailsTemplate
             let-modal>

  <app-lesson-details [modal]="modal"
                      [selectedClass]="selectedClass">
  </app-lesson-details>

</ng-template>
