@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
  url('/assets/fonts/poppins-v15-latin-ext-regular.woff2') format('woff2'),
  url('/assets/fonts/poppins-v15-latin-ext-regular.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local(''),
  url('/assets/fonts/poppins-v15-latin-ext-500.woff2') format('woff2'),
  url('/assets/fonts/poppins-v15-latin-ext-500.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local(''),
  url('/assets/fonts/poppins-v15-latin-ext-600.woff2') format('woff2'),
  url('/assets/fonts/poppins-v15-latin-ext-600.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''),
  url('/assets/fonts/poppins-v15-latin-ext-700.woff2') format('woff2'),
  url('/assets/fonts/poppins-v15-latin-ext-700.woff') format('woff');
}

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    @apply hidden;
  }

  .scroll-smooth {
    scroll-behavior: smooth;
  }

  .touch-pan-y {
    touch-action: pan-y;
  }

  .touch-pan-x {
    touch-action: pan-x;
  }

  .touch-manipulation {
    touch-action: manipulation;
  }
}

// ng-select
$ng-select-highlight: #3B82F6 !default;
$ng-select-primary-text: #374151 !default;
$ng-select-disabled-text: #9CA3AF !default;
$ng-select-border: #9CA3AF !default;
$ng-select-border-radius: theme('borderRadius.md') !default;
$ng-select-bg: #F9FAFB !default;
$ng-select-selected: #E5E7EB !default;
$ng-select-marked: #D1D5DB !default;
$ng-select-box-shadow: none;
$ng-select-placeholder: lighten($ng-select-primary-text, 40) !default;
$ng-select-height: 36px !default;
$ng-select-value-padding-left: 10px !default;
$ng-select-value-font-size: theme('fontSize.sm') !default;

.ng-select {
  //* {
  //  @apply transition-colors;
  //  @apply duration-300;
  //}

  &.ng-select-opened {
    > .ng-select-container {
      @apply bg-gray-50;
      @apply dark:bg-gray-800;


      &:hover {
        @apply shadow-none;
      }

      .ng-arrow {
        &::after {
          @apply rotate-180;
        }

      }
    }

    &.ng-select-bottom {
      > .ng-select-container {
        @apply rounded-b-none;
      }
    }

    &.ng-select-top {
      > .ng-select-container {
        @apply rounded-t-none;
      }
    }
  }

  .ng-has-value .ng-placeholder {
    @apply hidden;
  }

  .ng-select-container {
    @apply bg-gray-50;
    @apply dark:bg-gray-800;
    @apply text-gray-600;
    @apply dark:text-gray-300;
    @apply rounded-md;
    @apply border;
    @apply border-gray-400;
    @apply dark:border-gray-500;

    @apply items-center;
    @apply text-sm;

    min-height: $ng-select-height;

    &:hover {
      @apply shadow-sm;
    }

    .ng-value-container {
      @apply items-center;
      @apply pl-2;

      .ng-placeholder {
        @apply text-gray-300;
        @apply dark:text-gray-500;
      }
    }
  }

  &.ng-select-single {
    .ng-select-container {

      .ng-value-container {
        @apply flex;
        @apply items-center;

        .ng-input {
          @apply flex;
          @apply items-center;
          @apply top-0;
          @apply left-0;
          @apply bottom-0;
          @apply pl-2;
          @apply pr-12;
        }
      }
    }
  }

  &.ng-select-multiple {

    .ng-select-container {
      .ng-value-container {
        @apply space-x-1.5;
        @apply space-y-0.5;
        @apply py-1;
        @apply px-0;

        .ng-value {
          @apply bg-gray-200;
          @apply dark:bg-gray-700;
          @apply dark:text-gray-300;
          @apply rounded-sm;

          .ng-value-label {
            @apply inline-block;
            @apply py-0.5;
            @apply px-2;
          }

          .ng-value-icon {
            @apply inline-block;
            @apply px-1;
            @apply transition-colors;
            @apply duration-300;

            &:hover {
              @apply bg-gray-300;
              @apply dark:bg-gray-600;
            }

            &.left {
              @apply border-r;
            }

            &.right {
              @apply border-l;
            }

            @apply border-gray-300;
            @apply dark:border-gray-500;
          }
        }


        .ng-placeholder {
          @apply pl-1.5;
          @apply pt-0.5;
        }
      }
    }
  }

  .ng-clear-wrapper {
    @apply text-gray-600;
    @apply dark:text-gray-400;

    .ng-clear {
      @apply transition-colors;
      @apply duration-300;
      line-height: initial !important;
    }

    &:hover .ng-clear {
      @apply text-red-500;
    }
  }

  .ng-arrow-wrapper {
    @apply self-stretch;
    @apply w-6;
    @apply pr-2;
    @apply flex;
    @apply items-center;

    .ng-arrow {
      height: 100% !important;
      width: 100% !important;
      @apply relative;

      &::after {
        @apply absolute;
        @apply inset-0;
        @apply bg-contain;
        @apply bg-center;
        @apply bg-no-repeat;
        content: '';
        @apply block;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z'/%3E%3C/svg%3E");
      }

    }
  }
}

.dark .ng-select .ng-arrow-wrapper .ng-arrow::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='lightgray' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z'/%3E%3C/svg%3E");
}

.ng-dropdown-panel {
  @apply bg-gray-50;
  @apply dark:bg-gray-800;
  @apply border;
  @apply border-gray-400;
  @apply dark:border-gray-500;

  @apply left-0;
  @apply text-sm;

  &.ng-select-bottom {
    @apply top-full;
    @apply -mt-px;
    @apply rounded-b-md;

    .ng-dropdown-panel-items {
      .ng-option {
        &:last-child {
          @apply rounded-b-md;
        }
      }
    }
  }

  &.ng-select-top {
    @apply bottom-full;
    @apply -mb-px;
    @apply rounded-t-md;

    .ng-dropdown-panel-items {
      .ng-option {
        &:first-child {
          @apply rounded-t-md;
        }
      }
    }
  }

  .ng-dropdown-panel-items {
    .ng-option {
      @apply px-2;
      @apply py-2;
      @apply transition-colors;
      @apply duration-300;

      &.ng-option-selected,
      &.ng-option-selected.ng-option-marked {
        @apply bg-blue-500;
        @apply text-gray-50;
        @apply dark:bg-blue-600;
      }

      &.ng-option-marked {
        @apply bg-gray-200;
        @apply dark:bg-gray-700;
      }

      &.ng-option-disabled {
        @apply text-gray-300;
        @apply dark:text-gray-600;
      }
    }
  }
}

// modal

app-modal-template {
  div:last-of-type {
    button {
      @apply inline-block;
      @apply w-full;
      @apply md:w-auto;
      @apply px-4;
      @apply py-2;
      @apply rounded-md;
      @apply transition-colors;
      @apply duration-300;
    }
  }

  a {
    @apply underline;
    @apply hover:text-blue-500;
    @apply dark:hover:text-blue-400;
    @apply transition-colors;
    @apply duration-300;
  }
}
